<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wise.trackme.activity"
    >

    <uses-sdk android:minSdkVersion="13" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.wise.core.MyApplication1"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
       >

        <activity
            android:name="com.wise.trackme.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="locale"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.wise.service.AlxLocationService"
            android:enabled="true"
            android:exported="false"
           />
        <activity
            android:name="com.wise.trackme.activity.LocationActivity"
            android:screenOrientation="portrait"
            android:configChanges="locale"/>
        <activity
            android:name="com.wise.trackme.activity.ConfigureActivity"
            android:screenOrientation="portrait"
            android:configChanges="locale"
            />

        <activity android:name="com.wise.trackme.activity.MainActivity"/>

        <service android:name="com.wise.service.LocationService"></service>
        <service android:name="com.wise.service.AlarmService"></service>

        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver
            android:name="com.wise.service.StartReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>


        <!--
        <service android:name="com.wise.core.LoactionCoreService"></service>
        <service android:name="com.wise.core.AlarmTimeService"></service>
         -->
        <service android:name="com.wise.core.CoreService" android:process=":process1"/>
        <receiver android:name="com.wise.core.Receiver1" android:process=":process1"/>
        <service android:name="com.wise.core.Service2" android:process=":process2"/>
        <receiver android:name="com.wise.core.Receiver2" android:process=":process2"/>

    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>